---
# Ansible playbook for a GitLab server.
#
# @todo - Install postfix `yum -y install postfix`.
#
# @author Jeff Geerling (2014).

- hosts: gitlab
  gather_facts: yes

  vars_files:
    - vars/main.yml

  roles:
    - geerlingguy.firewall
    - geerlingguy.gitlab
