# Infrastructure test page.
from flask import Flask
from flask import Markup
from flask import render_template
from flask.ext.sqlalchemy import SQLAlchemy

app = Flask(__name__)

# Configure MySQL connection.
db = SQLAlchemy()
db_uri = 'mysql://admin:admin@{{ host_ip_address }}/information_schema'
app.config['SQLALCHEMY_DATABASE_URI'] = db_uri
db.init_app(app)

@app.route("/")
def test():
    mysql_result = False
    try:
        if db.session.query("1").from_statement("SELECT 1").all():
            mysql_result = True
    except:
        pass

    if mysql_result:
        result = Markup('<span style="color: green;">PASS</span>')
    else:
        result = Markup('<span style="color: red;">FAIL</span>')

    # Return the page with the result.
    return render_template('index.html', result=result)

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=80)
